/*----------------------------------------
  Main Div
----------------------------------------*/
#Art-Main-Div {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/*----------------------------------------
  Videos
----------------------------------------*/

#VideoScroll {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

#VideoScroll > .controls {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls > video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(2px) saturate(0.5);
}

.controls > i {
    font-size: 30px;
    transition: 0.3s;
    position: absolute;
}

.controls > i:hover {
    font-size: 40px;
    cursor: pointer;
}

#ActiveVideo {
    height: 100%;
    width: 100%;
}

#ActiveVideo > video {
    height: 100%;
    width: 100%;
}

/*----------------------------------------
  Images
----------------------------------------*/

#ImageDisplay {
    /*STRUCTURE*/
    padding: 0 20% 0 20%;
    /*CONTENT*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px 25px;
    display: grid;
}

/* <img> is wrapped in div (ImageContainer) to smooth the animations */

#ImageDisplay > img {
    object-fit:cover;   /*Don't resize image to fit the container*/
    /*STRUCTURE*/
    width: 100%; /*Important*/
    height: 100%; /*Important*/
    /*ANIMATION*/
    transition: 0.3s ease-in-out;
}

#ImageDisplay > img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 0px 5px #ccc; /*[horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
    cursor: pointer;
}

/*----------------------------------------
  Image Select Arrows
----------------------------------------*/

.img-select {
    font-size: 2em;
    color: rgb(133, 133, 133);
    user-select: none;
    padding: 2em;
}

.img-select:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.1);
}

/*----------------------------------------
  Selected Image Popup
----------------------------------------*/

#ImageContainer {
    min-height: 200px;
    width: 50vw;
    height: 80vh;
}

#ImageContainer > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
