#Projects {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.Project {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid rgb(45, 45, 45);
  border-radius: 20px;
  padding: 20px;
}

.ProjectContent {
  display: flex;
  gap: 50px;
}

.ProjectContent > * {
  height: 400px;
  border-radius: 10px;
}

.dirRL > h2 {
  text-align: right;
}

.dirRL .ProjectContent {
  flex-direction: row-reverse;
}

.ProjectPreview {
  flex-basis: 100%;
}

.ProjectPreview > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/*--------------------------------
MARKDOWN
--------------------------------*/

.Markdown{
  flex-basis: 200%;
  overflow-y: scroll;
  /**/
  display: block;
  white-space: pre-wrap;
  font-size: 20px;
  color: rgb(207, 207, 207)
}

.Markdown a {
  color: red;
}

.Markdown > h1 {
  font-size: 2em;
}

.Markdown > h2 {
  font-size: 1.5em;
}

.Markdown > h3 {
  font-size: 1em;
}

.Markdown > * {
  font-size: 0.9em;
}
