#ContactMe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 50px;
  margin-top: 100px;
  border-top: solid white;
  min-height: 500px;
}

#ContactMe > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

    .ContactPoint {
      font-size: 18px;
    }

    .ContactPoint i {
      color: #ff004f;
      margin-right: 20px;
      font-size: 25px;
    }

#ContactForm {
  min-width: 500px;
}

    #ContactForm input, textarea {
      width: 100%;
      border: 0;
      outline: none;
      background: #262626;
      padding: 15px;
      color: #fff;
      font-size: 18px;
      border-radius: 6px;
      resize: none;
    }

    .red-button {
      display: block;
      width: fit-content;
      border: 1px solid #ff004f;
      padding: 14px 50px;
      border-radius: 6px;
      text-decoration: none;
      color: white;
      background-color: red;
    }

    .social-icons a {
      text-decoration: none;
      font-size: 30px;
      margin-right: 15px;
      color: #ababab;
    }