#FullMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: solid white;
  /*Style*/
    background-color: rgba(0, 0, 0, 0.8);
  /*Always on top*/
    width: 100%;
    position:fixed;
    top:0;
    z-index: 1000; /*top of page*/

}

#HiddenMenu {
  display: flex;
  justify-content:end;
  padding: 20px;
  padding-right: 50px;
  width: 100%;
  position:fixed;
  top:0;
  font-size: 80px;
  z-index: 1000; /*top of page*/
  transition: 0.5s;

}

#HiddenMenu :hover {
  transform: scale(1.3);
}

#Logo {
  font-size: 40px;
  font-weight: bold;
  user-select: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}


/*Active NavLink*/
.active {
  color: red;
}