#FullMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: solid white;
  /*Style*/
    background-color: rgba(0, 0, 0, 0.8);
  /*Always on top*/
    width: 100%;
    position:fixed;
    top:0;
}

#HiddenMenu {
  display: flex;
  justify-content:end;
  padding: 20px;
  padding-right: 50px;
  width: 100%;
  position:fixed;
  top:0;
  font-size: 50px;
}

#HiddenMenu :hover {
  font-size: 55px;
  text-shadow: 0 0 3px #FF0000;
  transition: .3s;
}

#Logo {
  font-size: 40px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/*Active NavLink*/
.active {
  color: red;
}