#MyProjects {
  padding-bottom: 100px;
}

#ProjectsGrid {
  width: 100%;
  margin-top: 50px;
  /*Content*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 3em 2em;
}

.Thumbnail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


/*SECTION BEGIN: For Animated Cover*/

  .ProjectPreview {
    width: 100%;
    height: 100%;
    /*For Animated Cover*/
      position: relative;
      overflow: hidden;
  }

  .ProjectPreview:hover .AnimatedCover {
    height: 100%;
  }

  .AnimatedCover > h3 {
    transition: 0.3s;
    user-select: none;
  }

  .AnimatedCover > h3:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

/*END SECTION*/

.ProjectPreview > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}


/*--------------------------------
  EXPANDABLE SECTION
--------------------------------*/

.FullWidth {
  grid-column: 1 / -1; /*Start in column 1, span every column up to the last one*/
}

.ProjectInfo {
  /*Style*/
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    padding: 50px;
  /*Content*/
    position: relative;
    display: inline-block;
}

.ProjectInfo > h1 {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 5px solid white;
}

.closeInfo {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
  padding: 10px;
  font-size: 30px;
  border-radius: 100%;
  cursor: pointer;
}

.closeInfo:hover {
  transform: scale(1.2);
}

/*--------------------------------
MARKDOWN
--------------------------------*/

.Markdown{
  flex-basis: 200%;
  max-height: 400px;
  overflow-y: scroll;
  /*Style*/
    display: block;
    white-space: pre-wrap;
    font-size: 20px;
    color: rgb(207, 207, 207);
}

.Markdown a {
  color: red;
}

.Markdown > h1 {
  font-size: 2em;
}

.Markdown > h2 {
  font-size: 1.5em;
}

.Markdown > h3 {
  font-size: 1em;
}

.Markdown > * {
  font-size: 0.9em;
}
