#MyProjects {
    padding-bottom: 100px;
}

#ProjectsGrid {
    width: 100%;
    margin-top: 50px;
    /*Content*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 3em 2em;
}

.Thumbnail {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Preview w' Animated Cover */

.ProjectPreview {
    width: 100%;
    height: 100%;
    /*For Animated Cover*/
    position: relative;
    overflow: hidden;
}

.ProjectPreview > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.ProjectPreview:hover .AnimatedCover {
    height: 100%;
}

.AnimatedCover > h3 {
    transition: 0.3s;
    user-select: none;
}

.AnimatedCover > h3:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*--------------------------------
  EXPANDABLE SECTION
--------------------------------*/

.ProjectInfo {
    padding: 50px;
	width: 900px;
}

.ProjectInfo > h1 {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 5px solid white;
}

/*--------------------------------
MARKDOWN
--------------------------------*/

.Markdown {
    max-height: 400px;
    overflow-y: scroll;
    /*Style*/
    white-space: pre-wrap;
    font-size: 1em;
    color: rgb(195, 195, 195);

}

.Markdown a {
    color:lightcoral;
}